*{
	box-sizing: border-box;
	height: 100%;
}

body{
	margin: 0;
	height: 100%;
}



.header{
	text-align: center;
	height: 25px;
	font-weight: bold;
	font-size: 20px;
}

.tables-div{
	display: inline-block;
	height: 100%;
	width: 20%;
	top: 0;
	float: left;
}

.menu-div{
	display: inline-block;
	height: 100%;
	width: 79%;
	top:0;
	float: left;
	border-left: 4px solid black;
}

.search-bar{
	height: 40px;
}

.center-search-bar{
	text-align: center;
}

.table-input{
	max-width: 80%;
}

.menu-input{
	width: 50%;
	margin-left: 10px;
}

.search-bar input{
	padding: 12px;
	border-radius: 5px;
	box-shadow: -5px 5px 5px 0px #F0F0F3;
	border: 0;
}

.search-bar input:focus{
	outline: none;
}

.table-list{
	margin-left: 8px;
	margin-top: 8px;
	height: 550px;
}

.table-list-element{
	height: 100px;
	padding: 4px 14px;
	border-radius: 5px;
	box-shadow: -5px 5px 5px 0px #E4E5E7;
	border: 0;
	width: 95%;
	padding: 20px;
	font-size: 20px; 
}

.table-contents{
	font-size: 14px;
	color: #8B8E90;
}

.menu-list{
	margin-left: 8px;
	margin-top: 8px;
	height: 550px;
}

.menu-list-element{
	height: 100px;
	padding: 4px 14px;
	border-radius: 5px;
	box-shadow: -5px 5px 5px 0px #E4E5E7;
	border: 0;
	width: 99%;
}

.table-list-element:hover,
.table-list-element:focus,
.table-list-element:active{
	background-color:yellow;
}

.item-contents{
	height: 20px;
	margin-top: 10px;
	font-size: 14px;
}

.item-contents p{
	color: #8B8E90 ;
}

.item-name {
	height: 28px;
}

.item-name > p {
	font-size: 20px;
}

.table-form-popup{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height:100%;
    left: 0;
    top: 0;
    overflow: auto;
    padding-top: 100px;
    background-color: rgba(0,0,0,0.4);
}

.close{
  color: white;
  float: right;
  font-size: 32px;
  font-weight: bold;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.form-content{
  background-color: white;
  margin: auto;
  border: 1px solid #888;
  width: 60%;
  height: 70%;
  max-width: 500px;
  border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
}

.form-header{
	height: 50px;
	width: 100%;
	background-color: #451DEC;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


.header-details{
	padding: 10px;
	color: white;
	font-size: 20px;
	float: left;
}

.form-div{
}

.tabcontent {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  height: 300px;
  width: 100%
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.order-table{
	padding: 5px;
	height: 100%;
}

.table-header{
	height: 10%;
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.table-row{
	height: 10%;
	width: 100%;
	display: block;
	margin: 25px 0;
}

.sno{
	width: 30px;
	height: 20px;
}

.item{
	width: 160px;
	height: 20px;
}

.price{
	width: 60px;
	height: 20px; 
}

.numberOfServings{
	width: 40px;
	height: 20px;
}

.delete{
	height: 20px;
	width: 20px;
	padding-right: 20px;
}

.total-cost{
	height: 20px;
}

.close-session{
	float: right;
	bottom: 0;
}

.close-session p{
	margin: 0;
	padding-right: 10px;
	margin-top: 20px;
}
